# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Mac
.DS_Store
.AppleDouble
.LSOverride
._*

# VSCode
.vscode/*
*.code-workspace
.history/

# JetBrains
.idea/
*.iml
*.iws
*.ipr
.idea_modules/

# Binary files
bin/
tmp/
